@import "baseStyle.css";

body {
    background: #F7F7F7;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -185px;
    margin-top: -210px;
    height: 420px;
    width: 340px;
    font-size: 18px;
    -webkit-box-shadow: 0 0 10px #A6A6A6;
    background: #fff;
}
.btn-right{
    text-align: center;
    width: 170px;
    padding:15px 0;
    line-height: 20px;
    font-size: 18px;
    color: #545454;
    border-bottom: 2px solid white;
    display: inline-block;
    position: relative;
    float: left;
}
.btn-right:hover{
    border-bottom: 2px solid #A6A6A6;
}
.input-label{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    display: block;
    position: relative;
    float: left;
    margin-left: 68px;
}

#email,#repwd,#pwd,#user{
    width: 200px;
    margin:0 auto;
    height: 30px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.btn-submit{
    height: 30px;
    width: 200px;
    margin:0 auto;
    display: block;
    position: relative;
    background-color: white;
    color: #a6a6a6;
}
#register{
    width: 200px;
    margin:0 auto;
    height: 30px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    border:1px solid #A6A6A6;
    cursor: pointer;
    position: relative;
    top: 10px;
}
.btn-submit:hover{
    background-color: #a6a6a6;
    color:white;
}
.choose{
    float: right;
    margin: 10% 30% ;

}

.choose:hover{
    animation: action 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes action {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}